*{
	margin: 0;
	padding: 0;
	box-sizing: ;
}
a{
	text-decoration: none;
	color: #FFFFFF;
}
ul{
	list-style-type: none;
	color: #FFFFFF;
}
li{
	list-style-type: none;
	color: #FFFFFF;
}
header{
	color: #0020F4;
}
h2{
	border-top: 30 px;
	border-bottom: 60 px;
}